@charset "UTF-8";

/*----------------------------------------

目次
    基本設定
    header
    footer

----------------------------------------*/

/*----------------------------------------

    基本設定

----------------------------------------*/

html {
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
}

.button {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 20px 35px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 20px;
    margin-bottom: 20px;
}

p {
    line-height: 1.8;
    overflow-wrap: break-word;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    h2 {
    margin-bottom: 15px;
}

}

@media screen and (max-width: 480px) {
        h2 {
    margin-bottom: 10px;
}


}

/*----------------------------------------

    header

----------------------------------------*/

header {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

header h1 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 6px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

header nav li {
    line-height: 35px;
}

header nav li:last-child {
    text-align: center;
}

header nav li:last-child a {
    background: #fff;

    color: #000;
    width: 100px;
    height: 35px;
    display: inline-block;
    border-radius: 50px;
}

@media screen and (max-width: 1024px) {
    header {
        display: block;
text-align: center;
    }
    header h1 {
        margin-bottom: 20px;
}

    header nav ul {
    justify-content: space-around;
    width: 100%;
}

}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
    header {
    padding: 20px;
}

}

/*----------------------------------------

    footer

----------------------------------------*/

footer {
    padding: 30px;
    background: #000;
    color: #fff;
    text-align: center;
}

footer h2 {
    margin-bottom: 50px;
}

footer h2::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/mail.svg);
    background-size: contain;
    margin: 0 auto 20px;
}

.footerbutton {
    background: #fff;
    color: #000;
    padding: 20px 100px;
    border-radius: 50px;
}


@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}